<!doctype>
<html>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
  <canvas id="canvas" width="500" height="500"></canvas>

  <button id="Save">Save</button>
  <button id="clear">Clear</button>
  <button id="Restore">Restore</button>
  <input type="color" id="colorPicker">
</body>
<script src="draw.js"></script>

</html>