<html>
<body>
  <link rel="stylesheet" type="text/css" href="style.css">
  <canvas id="canvas" width="500" height="500"></canvas>

  <button id="Save">Save</button>
  <button id="clear">Clear</button>
  <button id="Restore">Restore</button>
  Pick your favorite color:
  <input type="color" id='colorPicker' name='myColor'>
  <script src="draw.js"></script>
</body>

</html>