<!doctype>
<html>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
  <canvas id="canvas" width="500" height="500"></canvas>
  <button id="Save" data-url="save_drawing">Save</button>
  <button id="clear">Clear</button>
  <button id="Restore">Restore</button>
  <input type="color" id="colorPicker"></input>

<ul>
<% @drawings.each  do |drawing| %>
<a href="/drawing/<%= drawing.id %>">Drawing: <%= drawing.id %></a>
<% end %>
</ul>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="draw.js"></script>

</html>

